<a href="https://colab.research.google.com/github/Shrutika-Prabhulkar/Udemy-practice-notebook/blob/main/Practice_Notebook_Python_for_Data_Science_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="blue">To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in a seperate tab.</font>

# Practice Notebook: Python for Data Science - Data Types

## 1. Data Types

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Dynamically-inferred types
# ---
#
x = 20
print(type(x))
x = '20'
print(type(x))
x = 20.0
print(type(x))

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# Manual type-conversion (string to int)
# ---
# 
x = 20
y = '5'
print(x + int(y))

##### <font color="blue">Example 3

In [ ]:
# Example 3
# ---
# Automatic type-conversion (int to float)
# ---
#
x = 20
print(type(x))
x += 5.0
print(x), type(x)

##### <font color="blue">Example 4

In [ ]:
# Example 4
# ---
# Dividing Integers
# ---
# 
a = 20
b = 5
print(a/b)
print(b/a)

##### <font color="blue">Example 5

In [ ]:
# Example 5
# ---
# Forcing float division
# ---
# 
print(b/float('5'))
# How can you correct this?

##### <font color="blue">Example 6

In [ ]:
# Examaple 6
# ---
# String "arithmetic" (actually concatenation)
# ---
a = 'John '
b = 'Doe'
print(a + b)

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Concatenate and print your full names.
# ---
# 
OUR CODE GOES HERE

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# ---
# Question: Run and correct the following code.
# ---
# 
x = 10
y = '5'
print x + y

##### <font color="green">Challenge 3</font>

In [ ]:
# Challenge 3
# ---
# Question: Perform integer division of 199 and 3 with the result being a float.
# ---
# 
OUR CODE GOES HERE

##### <font color="green">Challenge 4</font>

In [ ]:
# Challenge 4
# ---
# Question: Concatenate and print your postal address with the City and Country.
# ---
# 
OUR CODE GOES HERE